@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

.columns {
  background-color: #ccc;
  width: 100%;
  
  div {
    background-color: #666;
    display: inline-block;
    height: 150px;
    margin-right: 4.3%;
    width: 30%;
    @include rounded-corners(10px);
  }
  
  .col3 {
    margin-right: 0;
  }
}