$base-color: #555;
$element-color: #efefef;
$base-size: 22px;

$grid-width: 960;
$grid-columns: 12;

$small-breakpoint: 800px;

@mixin breakpoint($name){
  @if $name == small-screen {
    @media only screen and (min-width: $small-breakpoint) {
      @content
    }
  }
  @if $name == medium-screen {
    @media only screen and (min-width: $medium-breakpoint) {
      @content
    }
  }
  @if $name == large-screen {
    @media only screen and (min-width: $large-breakpoint) {
      @content
    }
  }
}

@function calculate-column-width($cols) {
  @return (($grid-width / $grid-columns) * $cols / $grid-width) * 100%;
}

h1 {
  font-size: $base-size;
  color: $element-color - $base-color;
  width: calculate-column-width(4);
}
nav {
  border-bottom: 1px solid #ccc;
 
  ul {
    list-style: none;
    margin: 0 3%;
    padding: 0;
  }

  > ul > li {
    
    display: inline-block;
    a {
      background-color: $element-color;

      @include breakpoint(small-screen) {
        background-color: #000;
      }

      border: 1px solid #ccc;
      border-bottom-width: 0;
      color: $base-color;
      display: block;
      padding: 6px 12px;
      text-decoration: none;

      &:hover,
      &:focus{
        background-color: #ccc;
      }

      &:active{
        background-color: $base-color;
        border-color: $base-color;
        color: $element-color;
      }
    }

    &:last-child{
      a {
        background-color: #222;
      }
    }
  }
}